<p id="notice"><%= notice %></p>

<%= link_to 'Try New Keyword', new_keyword_path %> or  
Click on a keyword to grab recent tweets live from Twitter

  <div>
    <% @keywords.each do |keyword| %>
      <ul>
        <li><h3><%= link_to keyword.word, keyword %></h3></li>

        <td><%#= link_to 'Show', keyword %></td>
        <td><%#= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%#= link_to 'Delete', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </ul>
    <% end %>
  </div>

<br>

<%= link_to 'Try New Keyword', new_keyword_path %>
