<!DOCTYPE html>
<html>
  <head>
    <title>Tweetscope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

</style>

  </head>

  <body>
  	<h1>Tweetscope v1</h1><hr/>
    <%= yield %>
    <hr/>
    <div style="text-align: center;">MyTweetscope on scripting languages keywords and community of developers...</div>
  </body>
</html>
